@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    font-family: "Source Sans 3", sans-serif;
}

.progress{
    height: 10px
}

/* Chrome & Safari */
.progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
  }

  .progress::-webkit-progress-value {
    background-color: #f6339a;
    border-radius: 10px;
  }

  /* Firefox */
  .progress::-moz-progress-bar {
    background-color: #f6339a;
    border-radius: 10px;
  }
@import "tailwindcss";